<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-container01">
      <img
        alt="image"
        src="public/Heads/cattle-200h.png"
        class="component-image"
      />
    </div>
    <div class="component-container02">
      <span class="component-uid brandName">
        <span>39jjd0sj92s</span>
        <br />
      </span>
      <h3 class="component-productinfo"><span>PRODUCT INFO</span></h3>
      <div class="component-container03">
        <p class="component-text02"><span>Specie:</span></p>
        <span class="component-specie"><span>Cattle</span></span>
      </div>
      <div class="component-container04">
        <p class="component-text03"><span>Category of Food Animal: </span></p>
        <span class="component-catoffoodanimals">
          <span>Big</span>
          <br />
        </span>
      </div>
      <h3 class="component-recinfo"><span>RECEIVING INFO</span></h3>
      <div class="component-container05">
        <p class="component-text06"><span>Received By:</span></p>
        <span class="component-receivedby">
          <span>Juan Dela Cruz</span>
          <br />
        </span>
      </div>
      <div class="component-container06">
        <p class="component-text09"><span>Received Time:</span></p>
        <span class="component-recdate"><span>02 / 23 / 2023</span></span>
      </div>
      <div class="component-container07">
        <p class="component-text10"><span>Live Weight:</span></p>
        <span class="component-liveweight"><span>151.1 KG</span></span>
      </div>
      <div class="component-container08">
        <p class="component-text11"><span>No. of Heads:</span></p>
        <span class="component-recnoheads"><span>2</span></span>
      </div>
      <h3 class="component-insrepinfo"><span>INSPECTION REPORT</span></h3>
      <div class="component-container09">
        <p class="component-text12"><span>Report Date:</span></p>
        <span class="component-repdate"><span>02 / 23 / 2023</span></span>
      </div>
      <div class="component-container10">
        <p class="component-text13"><span>No. of Heads:</span></p>
        <span class="component-insnoofheads"><span>2</span></span>
      </div>
      <div class="component-container11">
        <p class="component-text14"><span>Dressed Weight</span></p>
        <span class="component-dressedweight"><span>101.1 KG</span></span>
      </div>
      <div class="component-container12">
        <p class="component-text15"><span>Certificate Status:</span></p>
        <span class="component-cerstatus"><span>Issued</span></span>
      </div>
      <h3 class="component-farminfo"><span>FARM INFO</span></h3>
      <div class="component-container13">
        <p class="component-text16"><span>Origin of Food Animals:</span></p>
        <span class="component-originoffoodanimals">
          <span>Region XI, Davao Del Sur, Davao City, Bankerohan</span>
        </span>
      </div>
    </div>
  </div>
</div>
